<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.bianqi.web.wangyi.mapper.CommentIntervalMapper" >
  <resultMap id="BaseResultMap" type="org.bianqi.web.wangyi.pojo.CommentInterval" >
    <id column="interval_id" property="intervalId" jdbcType="INTEGER" />
    <result column="intervalTime" property="intervaltime" jdbcType="INTEGER" />
    <result column="intervalCount" property="intervalcount" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    interval_id, intervalTime, intervalCount
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.bianqi.web.wangyi.pojo.CommentIntervalExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from comment_interval
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from comment_interval
    where interval_id = #{intervalId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from comment_interval
    where interval_id = #{intervalId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.bianqi.web.wangyi.pojo.CommentIntervalExample" >
    delete from comment_interval
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.bianqi.web.wangyi.pojo.CommentInterval" >
    insert into comment_interval (interval_id, intervalTime, intervalCount
      )
    values (#{intervalId,jdbcType=INTEGER}, #{intervaltime,jdbcType=INTEGER}, #{intervalcount,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.bianqi.web.wangyi.pojo.CommentInterval" >
    insert into comment_interval
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="intervalId != null" >
        interval_id,
      </if>
      <if test="intervaltime != null" >
        intervalTime,
      </if>
      <if test="intervalcount != null" >
        intervalCount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="intervalId != null" >
        #{intervalId,jdbcType=INTEGER},
      </if>
      <if test="intervaltime != null" >
        #{intervaltime,jdbcType=INTEGER},
      </if>
      <if test="intervalcount != null" >
        #{intervalcount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.bianqi.web.wangyi.pojo.CommentIntervalExample" resultType="java.lang.Integer" >
    select count(*) from comment_interval
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update comment_interval
    <set >
      <if test="record.intervalId != null" >
        interval_id = #{record.intervalId,jdbcType=INTEGER},
      </if>
      <if test="record.intervaltime != null" >
        intervalTime = #{record.intervaltime,jdbcType=INTEGER},
      </if>
      <if test="record.intervalcount != null" >
        intervalCount = #{record.intervalcount,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update comment_interval
    set interval_id = #{record.intervalId,jdbcType=INTEGER},
      intervalTime = #{record.intervaltime,jdbcType=INTEGER},
      intervalCount = #{record.intervalcount,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.bianqi.web.wangyi.pojo.CommentInterval" >
    update comment_interval
    <set >
      <if test="intervaltime != null" >
        intervalTime = #{intervaltime,jdbcType=INTEGER},
      </if>
      <if test="intervalcount != null" >
        intervalCount = #{intervalcount,jdbcType=INTEGER},
      </if>
    </set>
    where interval_id = #{intervalId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.bianqi.web.wangyi.pojo.CommentInterval" >
    update comment_interval
    set intervalTime = #{intervaltime,jdbcType=INTEGER},
      intervalCount = #{intervalcount,jdbcType=INTEGER}
    where interval_id = #{intervalId,jdbcType=INTEGER}
  </update>
</mapper>